/* For devices with narrow phones */
@media handheld, screen and (max-device-width: 480px), screen and (max-width: 480px){
    
    /*   HEADER   */
    
    #top-navigation-inner{
        display: block;
    }
    
    [id="top-logo"] {
        width: 70%;
    }
    
    #top-logo #portal-logo{
        margin: 0;
     }
    
    [id="languages-tools-inner"]{
        width: 100%;
    }
    
    #portal-header #portal-searchbox{
        width: 150%;
    }
    
    .LSBox #searchGadget{
        width: 13em;
    }
    
    #portal-logo > img {
        max-height: none;
    }
    
    #div-siteactions{
        position: relative;
    }
    
    #portal-languageselector{
        box-sizing: border-box;
        padding: 0 0.2em 0.3em 0;
    }
    
    input[type="text"]:focus,
    input[type="password"]:focus,
    textarea:focus {
        box-shadow: none;
    }
    
    .btn-search{
        display:none;
    }
    
    /*   NAVIGATION   */
    
    #mobnav-btn,
    #portal-header #search-btn{
        clear: left;
    }
    
    /*   ZONE MULTIMEDIA   */
    
    .albums-container {
        margin-left: 0;
    }
    
    /*   BOTTOM PORTLET   */
    
    [id="bottom-portlets"] > div {
        margin-bottom: 1em;
    }
    
    /*   FOOTER   */
    
    [id="footer-social"] {
        padding-top: 1em;
    }
    
    #footer-sitemap div.footer-static{
        float: left;
    }
    
    /* MINISITE   */
    
    [id="minisite-logo-nav"],
    [id="minisite-navigation-inner"] #minisite-logo{
        display: block;
    }
    
    #container-minisite-globalnav ul {
        display: inline-block;
    }
    

}

/* FOR DEVICES WITH NARROW TABLET */
@media handheld, screen and (max-device-width: 768px), screen and (max-width: 768px){
    
    /*   HEADER    */
    
    [id="logo-languages"] {
        left: 0;
        position: inherit;
        top: 0;
        transform: none;
    }
    
    #div-languageselector{
        float: left;
    }
    
    /*   CONTENT   */
    
    #portal-column-content {
        float: right;
    }
    
    #portal-column-one{
        float: left;
    }
    
    /*   FOOTER   */
    
    #footer-sitemap div.footer-static{
        float: left;
        margin-right: 0;
    }
    
    [id="footer-social"]{
        right: 0;
    }
    
    .social a::before {
        margin-top: 0.5em;
    }
    
}

/* FOR DEVICES WITH NARROW DESKTOP */
@media handheld, screen and (min-device-width: 1024px), screen and (min-width: 1024px){
    
    .bloc-2.bloc-collection::before,
    .bloc-2.bloc-collection::after{
        display: block;
        width: 1000px;
        content: "";
        position: absolute;
        height: 100%;
        top:0;
        bottom:0;
    }   

    .bloc-2.bloc-collection::before{
        background: #eee;
        right: 100%;
    }

    .bloc-2.bloc-collection::after{
        background: #eee;
        left: 100%;
    }
    
}

