body #visual-portal-wrapper{
    overflow: hidden;
}

/*   HEADER   */

/*logo*/
[id="top-logo"] {
    float:left;
    width: 15%;
}

#portal-logo {
    margin: 0;
    padding-bottom: 0.5em;
    max-width: 100%;
}

#portal-logo > img {
    height: auto;
    width: 100%;
}

/*   SEARCH   */

#portal-searchbox{
    top:1.5em;
}

#portal-searchbox form {
    background: #fff;
    border-radius: 4px;
}

.LSBox #searchGadget{
    border-radius: 4px 0 0 4px;
    width: 21em;
}

.LSBox input:focus{
    outline: none;
}

/*search icone*/

/*   NAVIGATION   */

#top-navigation-inner {
    background: red;
}

#portal-header #navWrapper {
    background-color: transparent;
}

#top-navigation-inner #navWrapper {
    clear: inherit;
    float: left;
}

/*   BANNER   */

#portal-top #cpskin-banner,
#portal-top #cpskin-banner img {
    margin: 0;
    max-width: 100%;
}

/*   CONTENT   */

.template-folderview div.width-3\:4 {
    width: 100%;
}

div.width-1\:2 {
    width: 77.75%;
}

/*bloc news & event*/

.titre-rss,
.results{
    background: transparent;
}

.titre-rss h2,
#content a.bloc-rss{
    color:#2980b9;
}

.bloc-item{
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    margin: 0.75em 1.5em 0 0;
    max-height: 500px;
    min-height: 220px;
    padding: 0;
    width: 22%;
}

.bigimage:nth-child(2n),
.bloc-item:nth-child(2n) {
    padding-left: 0;
}

.bloc-item img{
    margin:0;
    min-width: 100%;
    max-width: 100%;
}

.bloc-item img:hover {
    opacity: 0.8;
}

li.bloc-item a h3 {
    clear: left;
    padding:2% 2% 0;
}

li.bloc-item span{
    padding-left: 1%;
}

.bloc-collection {
    float: left;
    position: relative;
}

.bloc-2.bloc-collection{
    background: #eee;
}

.bloc-2.bloc-collection::before,
.bloc-2.bloc-collection::after{
    display: block;
    width: 1000px;
    content: "";
    position: absolute;
    height: 100%;
    top:0;
    bottom:0;
}

.bloc-2.bloc-collection::before{
    background: #eee;
    right: 100%;
}

.bloc-2.bloc-collection::after{
    background: #eee;
    left: 100%;
}
#visual-portal-wrapper a.voir-tout {
    color: #828282;
}

#visual-portal-wrapper a.voir-tout:hover {
    color: #2980b9 !important;
}


/*   BOTTOM PORTLET   */

[id="bottom-portlets"] {
    margin-bottom: 2em;
}

[id="bottom-portlets"] > div {
    border-left: 1px solid #d3d3d3;
    display: inline-block;
    padding-left: 0.5em;
    vertical-align: top;
}

[id="bottom-portlets"] .managePortletsLink{
    display: block;
}

[id="bottom-portlets"] dl.portlet{
    margin:0;
}

/* for style of ckeditortemplate*/
[id="bottom-portlets"] p[class]{
    margin-bottom: 0;
}

[id="bottom-portlets"] .portletHeader {
    color: #2980b9;
}

/*   FOOTER   */

#portal-footer-wrapper .row,
#portal-footer{
    background-color: #16a085;
}

#footer-sitemap a,
#portal-footer p,
#portal-footer p a{
    color: #fff;
}

#footer-sitemap div.footer-static{
    color: #fff;
    float: right;
    margin-right: 2em;
}

[id="footer-social"] {
    position: absolute;
    right: 16%;
    top: 0;
    z-index: 1;
}


[id="footer-social"] .social {
    display: block;
}

[id="footer-social"] .social a{
    color: #fff;
}

.social a::before {
    margin-bottom: 0.75em;
}

/*   menu mobile   */

#mobnav-btn{
    background: #16a085;
    clear:left;
}

div#mobile-first-level-wrapper,
.advb-submenu .advb-title{
    background-color: #16a085;
}

.advb-submenu {
    padding-left: 7px;
}




